{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Finances tool</h1>
                <p class="lead">Your daily exchange rates provider! Check rates, save them, view graphics and more!</p>
                <a class="btn btn-primary btn-rounded anchor-btn" href="{{ path('register') }}">Get started here!</a>
            </div>
        </div>
    </div>
{% endblock %}
