@import "~bootstrap/scss/bootstrap";
@import "components/header";
@import "components/container";
@import "components/form";
@import "~datatables.net-bs4";
@import "~datatables.net-jqui";

body {
    background: url('img/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container-profile {
    padding-top: -50px;
}

.table {
    background-color: #fff;
}
