.main .container {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
    color: #1d2124;

    .lead {
        margin-bottom: 3rem;
    }

    .btn {
        margin-bottom: 3rem;
    }
}
