.main .container {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
    color: #1d2124;
    margin-bottom: 50px;

    .lead {
        margin-bottom: 3rem;
    }

    .form-button {
        margin-bottom: 3rem;
    }

    .anchor-btn {
        margin: 10px 0;
    }
}

.container-flash {
    max-width: 50%;
    margin-top: -50px;
    text-align: center;
}

@media(max-width: 991px) {
    .main .container {
        .dataTables_paginate {
            white-space: normal;
        }
        .dataTables_wrapper {
            white-space: normal;
        }
    }
}
