{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <section>
        {% if app.user %}
            <p>Logged in successfully!</p>
        {% else %}
            {% if error %}
                <div><p>{{ error.messageKey|trans(error.messageData, 'security') }}</p></div>
            {% endif %}
            {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit">Login</button>
            {{ form_end(form) }}
        {% endif %}
    </section>
{% endblock %}
