{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 text-center">Register</h1>

        {{ form_start(form, {'attr': { 'class': 'form' }}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
