{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ app.user.username }}'s saved rates</h1>
        <ul class="list-unstyled">
            {% for rate in userRates %}
                <li class="list-group-item">
                    <a href="{{ path('single_rate', {id: rate.id}) }}">View rate from {{ rate.createdAt|date("d/m/Y") }}</a>
                </li>
            {% endfor %}
        </ul>

        <a class="btn btn-primary anchor-btn" href="{{ path('show_user_profile') }}">Back to profile</a>
    </div>
{% endblock %}
